<form >
	<h6 class="dark-grey-text"> Nous effectuons aussi des visites à domicile.</h6><br>
		<p class="dark-grey-text">Si vous souhaitez des avantages de renseignements, il vous suffit de prendre contact par notre numéro de téléphone <strong>08-08-24-24-33</strong> soit par le formulaire ci-dessous, ou de vous rendre directement en cabinet.
	 </p>

	<!-- Name input -->
	<div class="input-container">

		<i class="fas fa-user fa-2x" style="color: #0d71e4;"></i>
		<input style="background-color: #d5e7fc;" type="text" id="form4Example1" class="form-control" placeholder="Name" />
	 
	</div>
  
	<!-- Email input -->
	<div class="input-container">
		<i class="fas fa-envelope fa-2x" style="color: #0d71e4;"></i>
	  <input style="background-color: #d5e7fc;" type="email" id="form4Example2" class="form-control" placeholder="Email" />
	
	</div>
	<div class="input-container">
		<i class="fas fa-phone-square-alt fa-2x" style="color: #0d71e4;"></i>

  <input style="background-color: #d5e7fc;" type="Téléphone" id="form4Example2" class="form-control" placeholder="Téléphone" />
	
	</div>
  
	<!-- Message input -->
	<div class="input-container">
		<i class="fas fa-pencil-alt  fa-2x" style="color: #0d71e4;" ></i>

	  <textarea style="background-color: #d5e7fc;" class="form-control" id="form4Example3" rows="4" placeholder="Message"></textarea>
	 
	</div>
  
	<!-- Submit button -->
	<button type="submit" class="btn btn-primary btn-block mb-4 mt-1" style="width: 150px; float:right
   ">Send</button>
  </form>