.logo{
  
    margin-bottom: 50%;
    height: 20%;
    width: 315px;
    background-color: rgb(33, 83, 68);
    text-align: center;
    display: inline;
    }

    #col1{
        padding-top: 5%;
        display: inline;
        margin-bottom: 40%;
        background-color: #dcffe2;
    }
    #col2{
     
     display: inline;
       height: 30%;
       margin-bottom: 30%;
    }


    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
    .contact-form{
        background: #fff;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 70%;
    }
    .contact-form .form-control{
        border-radius:1rem;
    }
    .contact-image{
        text-align: center;
    }
    .contact-image img{
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
    }
    .contact-form form{
        padding: 14%;
    }
    .contact-form form .row{
        margin-bottom: -7%;
    }
    .contact-form h3{
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }
    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #dc3545;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
    .btnContactSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }

 

     /* Style the video: 100% width and height to cover the entire window */

  
  /* Add some content at the bottom of the video/page */
  .divCarousel {
    height: 100%;
    padding: 0px;

    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;
        }
    }

    .carousel-item img {
        height: 100%;
    }
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .gal{
        width: 105%;
        height: 548px;
        margin-top: -3px;
        background-color: #567eb9;
       
    }

    #col1{
        background-image: linear-gradient(to right, #6c89b4 , rgb(13, 16, 24)); 
        margin-left: -2%;
        height: 100%;
    }

    #titre1{
        width:100%;
        height:10%;
        text-align:center;
        position:relative;
        top:40%;
        color: rgb(245, 243, 243);
    }

    #col2{
   
        margin-left: -9px;
    }