



#col2{
    margin-left: -10%;
   }
   mdb-card
   {
       width: 90%;
       background-color: rgb(37, 36, 36);
       
   }
   
   mdb-card-header{
       background-color: #155297;
   }
   
   
   h3{
       margin-top: 5%;
       margin-bottom: 2%;
       text-align: start;
   }