

<div class="container-fluid">
    <div class="row gal">
        <div id="col1" class="col-lg-3">
            <h2 id="titre1" class="text-uppercase animated bounce  ">un aperçu du cabinet</h2> 
        </div>
        <div id="col2" class="col-lg-9 p-0">
            <app-gallery2></app-gallery2>
        </div>
        
    </div>
     <hr class="horizontal2">
    <div class="row gal2">
        <div id="col3" class="col-lg-8 p-0" >
            <h2 id="titre2" class="text-uppercase animated bounce mt-4 mb-4 ">DECOUVREZ LES PROFESSIONNELS DU CABINET</h2> 
            <app-docteurs></app-docteurs>
        </div>
        <div id="col2" class="col-lg-4 p-0" style=" text-align: center;">
            <div class="card testimonial-card ml-4 mt-4" style="padding-top: 2%; height: 92.5%; width: 90%;">

                <!--Background color-->
                <div class="card-up blue lighten-2">
                </div>
  
                <!--Avatar-->
  
                <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title mt-1">Vos droits </h4>
                  <hr>
                  <h6 style="color: black; text-align: start; padding-left: 7px;">Respect de la dignité et de la vie privée du patient</h6>
                  <!--Quotation-->
                  <p class="dark-grey-text mt-4 ml-2"> La protection de la vie privée du malade est garantie. Le secret couvre le dossier médical et la sphère privée du patient. L’ensemble de l’équipe soignante est tenu par l’obligation du secret médical et professionnel. Le secret médical peut être levé pour les mineurs et les incapables à la demande de la famille c'est-à-dire le tuteur. Le secret médical peut être levé par l’autorité judicaire. Toute personne a droit au respect de sa vie privée et au secret des informations la concernant.</p>
                  <p class="dark-grey-text mt-4 ml-2">La personne hospitalisée est traitée avec égards. Ses croyances (religieuses, philosophiques ou politiques) doivent être respectées. Son intimité doit être préservée, ainsi que sa tranquillité.  </p>
                  
                </div>
  
              </div>
              <!--Card-->
        </div>
        
    </div>
</div>
