.img-fluid{
    width: 100% \9;
}


container-fluid{
    padding:0;

}


#sect1 {  
    height: 650 px;  
    color: #fff;background-image: url("../assets/images/background9.jfif");  
    background-size: 100% ;  
    background-size: cover;  
}  
