<div  class="container-fluid">
    <div id="row1" class="row"><app-news-api></app-news-api></div>
        <div class="row" id="row2">
            <div id="col1" class="col-md-9 col-xs-12 col-sm-12">
                <div class="view overlay zoom">
                    <img src="{{img}}" class="img-fl " alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                    </div>
                </div>
            </div>
            <div id="col2" class="col-md-3 col-xs-12 col-sm-12">
                <div class="row" id="row21">
                    <img src="{{icon}}" class="img-fl2 " alt="zoom">
                  </div>
                <div class="row">
                <app-planning></app-planning>
              </div>
                   
            </div>
            
        </div>
            <div id="row3" class="row" >
            <div class="col-md-9  col-xs-12 col-sm-12"  >
               <hr class="horizontal1">
                <app-news-clinique></app-news-clinique>
            </div>
            <div id="col32"  class="col-md-3  col-xs-12 col-sm-12">
                <div id="row4" class="row "> <button class="button1"><h4><i class="fa fa-calendar " aria-hidden="true"></i> Prendre Rendez-Vous</h4></button></div>
                <div class="row5 "> <button (click)="open(content)" class="button2"><h4><i class="fa fa-user-plus " aria-hidden="true"></i> Nouveau Patient ?</h4></button></div> 
                <div class="row6 " style="margin-top: 27.5%;margin-left: -30%;">  <div id="map-container-google-11" class="z-depth-1-half map-container-6 ml-4"  style="height:20px">
                    <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height:20px">
                  <iframe src="https://maps.google.com/maps?q=boulvard oum rabia oulfa=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0 ; height: 204px;width: 400px;border-radius: 5px;" allowfullscreen></iframe>
                </div>
                  </div></div> 
            </div>
               
           
        </div>  
       
        <hr class="horizontal2">
    
        <div class="row" >
    <app-multi-item-gallery></app-multi-item-gallery>
    </div>
    </div>
    
    <ng-template #content let-modal>
  <div class="modal-header" style="background-color: 	#0a7945">
    <h4 class="modal-title" id="modal-basic-title" style="color: rgb(252, 252, 252);">Inscrivez-vous</h4>
    <button type="button" class="close" style="color: rgb(252, 252, 252);" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #patientForm="ngForm">
      <div class="form-inline">
        
          <label>NOM : </label><input [(ngModel)]="patient.nom"   id="nom" name="nom" type="text" placeholder="Nom"  class="form-control" style="margin-bottom:5px;width: 300px; margin-left: 110px;" required #name="ngModel">
        </div>
        <div class="form-inline">
          <label>PRENOM : </label><input [(ngModel)]="patient.prenom" id="prenom" name="prenom" type="text" placeholder="Prénom" class="form-control input-md" style="margin-bottom:5px;width: 300px;margin-left: 84px;" required >
        </div>
        <div class="form-inline">
          <label>CIN : </label><input [(ngModel)]="patient.cin" id="cin" name="cin" type="text" size="8" placeholder="CIN" class="form-control input-md" style="margin-bottom:5px;width: 300px;margin-left: 123px;" required >
        </div>
          <div class="form-inline">
          <label>Date de Naissance :</label><input [(ngModel)]="patient.dateNaissance" id="date" name="datenaiss" type="date" placeholder="Date de naissance" class="form-control input-md" style="margin-bottom:5px;width: 300px;margin-left: 18px;" required >
        </div>
          <div class="form-inline">
          <label>Telephone : </label><input [(ngModel)]="patient.telephone" id="tel" name="tel" type="number" size="8" placeholder="Numéro de télephone" class="form-control input-md" style="margin-bottom:5px;width: 300px;margin-left: 76px;" required >
        </div>
          <div class="form-inline">
            <label>ADRESSE : </label><input [(ngModel)]="patient.adresse" id="adresse" name="adresse" type="text" placeholder="Adresse" class="form-control input-md" style="margin-bottom:5px;width: 300px;margin-left: 84px;" required >
          </div>
         
      
    </form>
  </div>
  <div class="modal-footer">
    <button  type="submit" class="btn btn-success" (click)="onSubmit()"  >Confirmer</button>
  </div>
</ng-template>
    
