.view overlay zoom{
    background-color: brown;
}

#row1{
  padding-left: 6%;
  margin-top: 0.5%;
}

#row2{
  margin-top: 0.5%;
  padding-left: 2%;
}

#row3{
  margin-top: 1%;
  padding-left: 2%;
}

#row4{
  margin-bottom: 1%;
}



#col32{
  margin-top: 0;
  margin-left: -2%;
  
}

#col2{
 margin-left: -2%;
 text-align: center;
}



#row21{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left:35% ;
  width: 150%;
}

app-news-api{
  margin-left: -8%;
}

.img-fl2{
  width: 30%;
  height: auto;

}

#imgrow{
  display: inline-block;
  text-align: center;
}

.button1 {
    background-color: #155297;
      color: white;
      padding : 1% 1% 1% 1%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 10%;
      border-radius:12px;
    }

    .button1:hover {background-color: #091c38}

.button1:active {
  background-color: #798b9e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  background-color: #155297;
    color: white;
    padding : 1% 6% 1% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10%;
    border-radius:12px;
    width: 108.5%;
    margin-left: -4.5%;
  }

  .button2:hover {background-color: #091c38}

.button2:active {
background-color: #1eac41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

i{
  padding-right: 3px;
}



#c2{
  margin-top: 1%;
}


.gal{
  background-color: aqua;
  display: inline-block; width:50%
}

.horizontal1 {
  border: none;
  border-top: 3px double #155297;
  color: #155297;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 4.5%;
  width: 94%;
}

.horizontal2 {
  border: none;
  border-top: 3px double #155297;
  color: #155297;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
  margin-left: 10%;
  width: 80%;
}