<div class="container-fluid p-5" >
    <div class="row mb-4" style="margin-left: 10%;" >
        <div class="col lg-4" style="display: flex;padding-left: 15%;">
            
                <button type="button" (click)="open(content)" class="btn btn-success btn-lg" style="border-radius: 5px;">Nouveau Rendez-Vous</button>
                </div>
                <div class="col lg-8" style="margin-left: -26.5%;" >
                <div class="input-group" style="width: 70%; margin-left: -15%;">
                  <input id="dateOfBirth" class="form-control" placeholder="Recherche (yyyy-mm-dd)" name="dp" ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                  </div> 
                </div>
        </div>
        <div class="row">
            <div class="col">
              <ng-template [ngIf]="var1=='ok'" [ngIfElse]="loading">
        <table class="table table-bordered" style="width:90%;margin-left: 5%;text-align: center;vertical-align: middle;background-color: rgb(214, 209, 200);">
            <thead><th>Numero</th><th>Patient</th><th>Date</th><th>Heure</th><th>Validité</th>
                  
                  </thead>
            <tbody id="tbody">
                <tr>
                    <td>1</td>
                    <td>MADIHI ZAKARIA</td>
                    <td>2021-08-14</td>
                    <td><input type="time" id="appt" name="appt"
                        min="09:00" max="18:00" style="width: 80px;" required></td>
                    <td style="white-space:nowrap" title="votre demande sera traiter dans un délai 24h maximum"><button class="button1 mr-3" style="color: rgb(0, 0, 0);border-radius: 15px;" ><strong> valider </strong></button><a style="display:inline-block; margin-left: 43px;"  href="#" ><button title="Annuler" style="color: rgb(243, 13, 13);border-radius: 50%;border-color: red;border: none;background-color: transparent" ><i class="fas fa-times-circle fa-x"></i></button></a></td>
                  </tr>
              <tr>
                  <td>2</td>
                  <td>HAFSA ELJAMIL</td>
                  <td>2021-09-07</td>
                  <td>11:00</td>
                  <td  style="white-space:nowrap">
                    <a style="display:inline-block;margin-left: -6%;"  href="#" ><button class="button1 mr-3" style="color: rgb(0, 0, 0);border-radius: 15px;" ><strong> Voir plus details </strong></button></a>
                    <a  href="#" ><button title="Annuler" style="color: rgb(243, 13, 13);border-radius: 50%;border-color: red;border: none;background-color: transparent" ><i class="fas fa-times-circle fa-x"></i></button></a>
                </td>
          </tr>

            </tbody>
            </table>
          </ng-template>
          <ng-template #loading>
            <div ><div >
              <table class="table table-bordered" style="width:90%;margin-left: 5%;text-align: center;vertical-align: middle;background-color: rgb(214, 209, 200);">
                <thead><th>Numero</th><th>Patient</th><th>Date</th><th>Heure</th><th>Validité</th>
                      
                      </thead>
                <tbody id="tbody">
                    <tr>
                        <td>1</td>
                        <td>MADIHI ZAKARIA</td>
                        <td>2021-08-14</td>
                        <td><input type="time" id="appt" name="appt"
                            min="09:00" max="18:00" style="width:80px" required></td>
                        <td style="white-space:nowrap" title="votre demande sera traiter dans un délai 24h maximum"><button class="button1 mr-3" style="color: rgb(0, 0, 0);border-radius: 15px;" ><strong> valider </strong></button><a style="display:inline-block; margin-left: 43px;"  href="#" ><button title="Annuler" style="color: rgb(243, 13, 13);border-radius: 50%;border-color: red;border: none;background-color: transparent" ><i class="fas fa-times-circle fa-x"></i></button></a></td>
                      </tr>
                  <tr>
                      <td>2</td>
                      <td>HAFSA ELJAMIL</td>
                      <td>2021-09-07</td>
                      <td>11:00</td>
                      <td  style="white-space:nowrap">
                        <a style="display:inline-block;margin-left: -6%;"  href="#" ><button class="button1 mr-3" style="color: rgb(0, 0, 0);border-radius: 15px;" ><strong> Voir plus details </strong></button></a>
                        <a  href="#" ><button title="Annuler" style="color: rgb(243, 13, 13);border-radius: 50%;border-color: red;border: none;background-color: transparent" ><i class="fas fa-times-circle fa-x"></i></button></a>
                    </td>
              </tr>
    
              <tr >
                <td >3</td>
                <td>HAFSA ELJAMIL</td>
                <td>2021-09-30</td>
                <td>17:21</td>
                <td  style="white-space:nowrap">
                  <a style="display:inline-block;margin-left: -6%;"  href="#" ><button class="button1 mr-3" style="color: rgb(0, 0, 0);border-radius: 15px;" ><strong> Voir plus details </strong></button></a>
                  <a  href="#" ><button title="Annuler" style="color: rgb(243, 13, 13);border-radius: 50%;border-color: red;border: none;background-color: transparent" ><i class="fas fa-times-circle fa-x"></i></button></a>
              </td>
             </tr>
                </tbody>
                </table>
            </div></div>
           </ng-template>
        </div>
        </div>
    </div> 

    <ng-template #content let-modal>
        <div class="modal-header" style="background-color: 	#0a7945">
          <h4 class="modal-title" id="modal-basic-title" style="color: rgb(252, 252, 252);">l'ajout d'un nouveau rendez-vous</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="color: rgb(252, 252, 252);">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding-left: 5%;">
          <form>
            <div class="form-group" s>
              <label for="info1">choisissez la date qui vous convient.</label>
              <div class="input-group">
                <input id="dateOfBirth" [(ngModel)]="rdv.date_rdv" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dp.toggle()"  type="button"><i class="fas fa-calendar-alt"></i></button>
                </div>
                <div class="input-group-append" >
                  <input  type="time" id="appt" name="appt"
                  min="09:00" max="18:00" style="width: 80px;" required>
                 </div>
                 <div class="input-group" >
                  <input    name="nom" type="text" placeholder="Nom"  class="form-control" style="margin-bottom:5px;margin-top:5px;width: 10px; ">
                 </div>
                 <div class="input-group" >
                  <input     name="prenom" type="text" placeholder="Prenom"  class="form-control" style="margin-bottom:5px;width: 10px;">
                 </div>
              </div>
              
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="onSubmit()" (click)="modal.close('Save click')">Confirmer</button>
        </div>
      </ng-template>
      
      
 

  