<div class="container-fluid">
    <mdb-carousel class="carousel slide carousel-fade mt-1" [animation]="'fade' " style="top: auto;bottom: auto;">
        <mdb-carousel-item>
          <video class="video-fluid" autoplay loop muted>
            <source src="{{vid1}}" type="video/mp4" />
          </video>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <video class="video-fluid" autoplay loop muted>
            <source src="{{vid2}}" />
          </video>
        </mdb-carousel-item>
        <mdb-carousel-item>
            
          <video class="video-fluid" autoplay loop muted>
            <source src="{{vid3}}" type="video/mp4" />
          </video>
        </mdb-carousel-item>
      </mdb-carousel>
      <div id="nos-services" style="  position: absolute;  z-index: 100; left: 460px;
    top: 700px;"> 
    <h1 style="font-size:400%; color: rgb(228, 226, 236);"> NOS SERVICES </h1>
    </div>
    
    
    
    <div> <h1 style="font-size: 200%;margin-top: 4%;color: grey;text-align: center;"><cite>Les services de notre Cabinet Medical !</cite></h1>
        <hr style="height: 10px; margin-top: 2%;color: black; background-color: black;margin-left: auto;
        margin-right: auto; width: 50%; border: none;justify-items: center;text-align: center; margin-bottom: 4%;">
      
       
       
       <div class="row"  >
        <div class="d-flex align-items-start ">
            <div class="col-lg-4"  > 
              <div class="card border-0 shadow " style="border-radius: 25px;">
                <div class="card-body"  style="background-image: linear-gradient(to top, #f4f7f7 0%, #999fee 100%, #c6c9f3 80%);border-radius: 25px;">
                  <h2 class="dark-grey-text" style="margin-left: 60px; margin-top: 10px;"  > Offre de soins</h2>
                   <ul class="dark-grey-text"> 
                    <li> Nous assurons une prise en charge 
               des urgences quotidiennes, des plaies, 
               des sutures,des petits traumatismes et des
                douleurs; nous pouvons effectuer
                 certains prélèvements biologiques
                 sur place. </li>   
                 <br>
                 <li> 
                  
                  Nos actes sont effectués au tarif
                  conventionné Sécurité Sociale,
                  pour un rendez-vous d’urgence avant
                   8h ou après 17h ou un jour férié,
                   nous appliquons des majorations de garde,
                  dans le respect des barèmes définis
                   par l’Assurance Maladie.
                  </li>
                  <br>
                <li> Nous pouvons consulter des 
                   électrocardiogrammes et 
                   certaines échographies sur place
                  (notamment des échographies de 
                  datation pour les grossesses). </li> </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4" > 
              <div class="card border-0 shadow " style="border-radius: 25px;">
                <div class="card-body " style="border-radius: 25px;background-image: linear-gradient(to top, #f4f7f7 0%, #999fee 100%, #c6c9f3 80%);"> <ul class="dark-grey-text" ><h2 class="dark-grey-text" style="margin-left: 20px; margin-top: 10px;margin-bottom: 30px;">En cas d'urgence​ </h2>  <li  >En cas d’urgence grave ou de besoin
                 de soins spécifiques non gérés au sein du cabinet médical , nous orientons et adressons les patients vers les services hospitaliers adéquats ou d’autres structures spécialisées. </li><br>
                 </ul></div>  </div> <img src="{{img3}}" class="img-fl " alt="zoom" style="margin-left: 40px;margin-top: 15px;"> </div>
            <div class="col-lg-4 "   >
              <div class="card border-0 shadow" style="border-radius: 25px;"  >
                <div class="card-body" style="border-radius: 25px;background-image: linear-gradient(to top, #f4f7f7 0%, #999fee 100%, #c6c9f3 80%);">
                  <ul class="dark-grey-text" > <h2 class="dark-grey-text" style="margin-left: 60px; margin-top: 10px;"> Honoraire</h2> <p  style="padding-bottom: 22.5%;"> <li>Les tarifs pratiqués par le médecin ou la secretaire sont affichés sur ce site et en salle d'attente .</li><br>
                <li> Nos actes sont effectués au tarif conventionné Sécurité Sociale pour un rendez-vous d’urgence avant 8h ou après 17h ou un jour férié, nous appliquons des majorations de garde, dans le respect des barèmes définis par l’Assurance Maladie.  </li><br>
              <li>La carte Vitale est acceptée. </li><br>
            <li>Les règlements s’effectuent par carte bancaire ou espèce. </li></p> </ul></div>
              </div>  </div>
        </div>
    </div>
    
    
    <hr style="height: 10px; margin-top: 3%;color: black; background-color: black;margin-left: auto;
        margin-right: auto; width: 50%; border: none;justify-items: center;text-align: center; margin-bottom: 6%;">
    
    
    <div class="row px-2" >
      <div class="col-lg-8 mb-4" >      
            <img src="{{img1}}" class="img-fl " alt="zoom" style="border-radius: 25px;width: 90%;">   
    </div>
      <div class="col-lg-4 px-2 dark-grey-text" style="text-align: center; margin-left: -3%;"> 
    
      <h2 style="margin-top: 10%;"> NOS SOINS</h2>
      <hr style="height: 5Px; color: black; background-color: black;
    ; width: 30%; border: none;justify-items: center;text-align: center;margin-left: 35%;margin-bottom: 5%;">
     <h5 style="margin-bottom: 5%;">Des soins personnels adaptés à vos besoins</h5>
     <p style="line-height: 2em;">
    Un médecin de famille fournit des soins de santé continus et complets à toute votre famille, des nouveaux nés aux grands-parents. Les spécialistes en médecine interne se concentrent sur la médecine pour adultes et se spécialisent dans la prévention et le traitement des maladies de l'adulte, notamment : le diabète, l'hypertension, les problèmes de cholestérol, l'arthrite et les problèmes aigus tels que la bronchite et la pneumonie.</p>
    </div>
    
    
    <hr style="height: 10px; margin-top: 3%;color: black; background-color: black;margin-left: auto;
        margin-right: auto; width: 50%; border: none;justify-items: center;text-align: center; margin-bottom: 3%;">
    
    
    <div class="row" style="margin-bottom: -15%;margin-top: 3%;">
      
       
      <div class="d-flex align-items-start " style="height: 500px;">
        
          <div class="col-lg-4"> 
            <div class="card border-0 shadow " style="background-color: grey;text-shadow: 2px 2px 4px #000000;">
     ​             
     <i class="fas fa-user-md fa-5x" style="margin-right: auto;margin-left: auto;  text-shadow: 2px 2px 4px #000000; "></i>  <h2 style="text-align: center;padding-top: 5%;">Expertise de confiance</h2>
          <p style="text-align: center;padding-top: 5%;"> Les médecins de soins primaires sont la santé<br>  
            des experts spécialement formés pour vous guider<br> à travers toutes les étapes de la vie. </p>
               
              </div>
            </div>
          <div class="col-lg-4">    <div class="card border-0 shadow" style="background-color: grey;text-shadow: 2px 2px 4px #000000;"> 
            <i class="fas fa-user-clock fa-5x" style="padding-top: 5%;margin-right: auto;margin-left: auto;  text-shadow: 2px 2px 4px #000000;"></i> <h2 style="text-align: center;padding-top: 5%;">Soins 24h/24 et 7j/7</h2>
            <p style="text-align: center;padding-top: 5%;"> 
              Nous vous couvrons le jour même<br>soins dans nos cliniques, ainsi que rapide <br>accès à vos informations médicales en ligne.  </p>
          </div>
        </div>
          <div class="col-lg-4 "  >   <div class="card border-0 shadow" style="background-color: grey;text-shadow: 2px 2px 4px #000000;">
            <i class="fas fa-hand-holding-heart fa-5x" style="padding-top: 5%;margin-right: auto;margin-left: auto; "></i>
            <h2 style="text-align: center;padding-top: 5%;">Pour tout le monde</h2>
            <p style="text-align: center;padding-top: 5%;"> 
              Médecins de famille certifiés, internistes, médecin<br> assistantes et infirmières praticiennes, nous avons<br> 
              équipe d'experts pour vous. </p> </div>
      </div>
    </div>
    </div>
    </div>
    <hr style="height: 10px; margin-top: 3%;color: black; background-color: black;margin-left: auto;
        margin-right: auto; width: 50%; border: none;justify-items: center;text-align: center; margin-bottom: 3%;">
    
        
      <div class="row px-4 "  >
        <div class="col-lg-5 mb-4 dark-grey-text" >
          <h2 style=" text-align: start;"> TRAITEMENT</h2>
      <hr style="height: 5Px; color: black; background-color: black;
    ; width: 30%; border: none;text-align: start;margin-bottom: 5%;">
       <h5 style="margin-bottom: 5%;"> Nos soins primaires comprennent</h5>
       <table style="text-align: start;">
        <tr >
          <td style="padding-right: 20px;"> <i class="far fa-address-card fa-2x"></i></td><td style="padding-top: 15px;"><p> Examens annuels complets</p></td>
        </tr>
        <tr>
          <td style="padding-right: 20px;padding-left: 2px;"><i class="fas fa-syringe  fa-2x" ></i></td><td style="padding-top: 15px;"><p> Vaccination</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;padding-left: 5px;"><i class="fas fa-tint fa-2x"></i></td><td style="padding-top: 15px;"><p>Soins préventifs et bien-être</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;"><i class="far fa-frown-open fa-2x"></i></td><td style="padding-top: 15px;"><p> Gestion des maladies chroniques</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;"><i class="fas fa-hospital-symbol fa-2x"></i></td><td style="padding-top: 15px;"><p> Prise en charge des affections médicales courantes</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;padding-left: 8px;"><i class="fas fa-female fa-2x"></i></td><td style="padding-top: 15px;"><p>Les Problèmes de santé des femmes</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;padding-left: 9px;"><i class="fa fa-male fa-2x" ></i></td><td style="padding-top: 15px;"><p> Les problèmes de santé des hommes</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;"><i class="far fa-meh-blank fa-2x"></i></td><td style="padding-top: 15px;"><p> Gestion des allergies, de l'asthme et des affections cutanées</p></td>
        </tr>
        <tr >
          <td style="padding-right: 20px;"><i class="far fa-frown-open fa-2x"></i></td><td style="padding-top: 15px;"><p>Traitement des maladies aiguës et des blessures</p></td>
        </tr> 
       
      </table>
       
             
          </div>
          <div class="col-lg-7" > 
            <img src="{{img2}}" class="img-fl " alt="zoom"  style="border-radius: 25px;width: 100%;height: 80%;margin-top: 10%;">
          </div> 
        </div>
    
        
        </div>
    
       </div>
        
    
