<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center" style="margin-left: 2%;">
    <div  class="row">

      <!--Grid column-->
     
      <!--Grid column-->

      <!--Grid column-->
      <div  class="col-lg-6 col-md-12 mb-4"  >

        <!--Card-->
        <div class="card testimonial-card" style="padding-top: 2%; height: 99%;">

          <!--Background color-->
          <div class="card-up blue lighten-2">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>

          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Dr IMANE LAAROUSSI médecin généraliste</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><mdb-icon fas icon="quote-left"></mdb-icon>   Docteur en médecine, lauréat de la faculté de médecine université Hassan II  Casablanca.  </p>
            <p class="dark-grey-text mt-4"><mdb-icon fas icon="quote-left"></mdb-icon>   pratique : médecine générale, nutrition, suivi pédiatrique, suivi gynécologique ou obstétrique, échographie de datation, implant contraceptif (pose et retrait), IVG médicamenteuse, stérilet (pose, retrait et contrôle échographique).  </p>
            <p class="dark-grey-text mt-4"><mdb-icon fas icon="quote-left"></mdb-icon> <b>Parcour :</b>     </p>

            <ul class="dark-grey-text mt-4">
              <li> 2018-2021 : Médecin generaliste chez Hôpital Cheikh Khalifa  Ben Zayed Al Nahyan </li>
              <li> 2017-2018 : Enseignant vacataire Université Mohammed VI des Sciences de la Santé</li>
              <li> 2015-2016 : Médecin urgentiste chez Hôpital Cheikh Khalifa Ben Zayed Al Nahyan</li>
              

            </ul>
          </div>

        </div>
        <!--Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div id="card2" class="col-lg-6 col-md-12 mb-4">

        <!--Card-->
        <div  class="card testimonial-card" style="padding-top: 7%;">

          <!--Background color-->
          <div class="card-up deep-purple lighten-2"></div>


<!-- Grid row -->
<div class="row">

<!--Grid column-->
<div class="col-lg-6 col-md-12 mb-lg-0 mb-4" style="width: 48%; margin-left: 2%; padding: 1%;">
  <!--Card-->
  <mdb-card class="testimonial-card">
    <!--Background color-->
    <div class="card-up info-color"></div>
    <!--Avatar-->
    <div class="avatar mx-auto white">
      <mdb-card-img [src]="img1" class="rounded-circle"></mdb-card-img>
    </div>
    <mdb-card-body>
      <!--Name-->
      <h6 class="ok mb-4 mt-2">AMEL BOUALAM secrétaire médicale</h6>
      <hr>
      <!--Quotation-->
      <p class="dark-grey-text mt-4">
        <i class="fas fa-quote-left pr-2"></i><b>son travail conciste a :</b> Constitution, vérification de votre dossier administratif.
        Mettre à jour les fiches des patients, Mise à jour de la Carte Vitale si besoin, Réception des documents, Information de votre arrivée Sortie, Consulte la disponibilité du médecin et réserve un RDV pour un patient, Règlement.</p>
    </mdb-card-body>
  </mdb-card>
  <!--Card-->
</div>
<!--Grid column-->


<!--Grid column-->
<div class="col-lg-6 col-md-6" style="width: 48%; padding: 1%; ">
  <!--Card-->
  <mdb-card class="testimonial-card">
    <!--Background color-->
    <div class="card-up indigo"></div>
    <!--Avatar-->
    <div class="avatar mx-auto white">
      <img [src]="img2" class="rounded-circle img-fluid">
    </div>
    <mdb-card-body>
      <!--Name-->
      <h6 class="ok mb-4 mt-2">SIHAM BENALI Infermière médicale</h6>
      <hr>
      <!--Quotation-->
      <p class="dark-grey-text mt-4">
        <i class="fas fa-quote-left pr-2"></i><b>son travail conciste a :</b> réaliser des soins destinés à maintenir ou restaurer la santé de la personne malade. elle surveille l'état de santé des patients et coordonne les soins pendant leur hospitalisation et lors de leur sortie. elle agit, soit à son initiative, soit selon les prescriptions du médecin : entretiens avec le patient et sa famille ...</p>
    </mdb-card-body>
  </mdb-card>
  <!--Card-->
</div>
<!--Grid column-->

</div>
<!-- Grid row -->

<!-- Section: Testimonials v.1 -->
